[submodule "Depends/choc"]
	path = Depends/choc
	url = https://github.com/Tracktion/choc
[submodule "Depends/JUCE"]
	path = Depends/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "Depends/MimeTypes"]
	path = Depends/MimeTypes
	url = https://github.com/lasselukkari/MimeTypes.git
[submodule "Depends/gzip-hpp"]
	path = Depends/gzip-hpp
	url = https://github.com/mapbox/gzip-hpp.git
[submodule "Depends/zlib"]
	path = Depends/zlib
  # 本家だとCMakeビルドした後にzconf.hが消し飛ぶので、修正されたフォークを使う
	url = https://github.com/savushkin-r-d/zlib
