[submodule "Depends/choc"]
	path = Depends/choc
	url = https://github.com/Tracktion/choc
[submodule "Depends/JUCE"]
	path = Depends/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "Depends/MimeTypes"]
	path = Depends/MimeTypes
	url = https://github.com/lasselukkari/MimeTypes.git
